@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// FIXME: 无法解决icon不居中的问题
:host ::ng-deep .anticon {
  vertical-align: middle;
}

.pwd-strength-weak {
  // border: 1px solid red;
  background-color: red;
}

.pwd-strength-medium {
  // border: 1px solid orange;
  background-color: orange;
}

.pwd-strength-strong {
  // border: 1px solid green;
  background-color: green;
}
