<main class="size-full flex">
  <section
    class="hidden sm:block basis-64 grow-0 shrink-0 border border-green-500"
  >
    <div class="text-xl">测试平台</div>
    <div>
      <ul>
        <ng-container
          *ngTemplateOutlet="menuTpl; context: { $implicit: menuDatas }"
        ></ng-container>
      </ul>
      <ng-template #menuTpl let-menus>
        @for (menu of menus; track menu.MenuCode) { @if(!menu.Children){
        <li class="cursor-pointer" (click)="navigate(menu)">
          <span>{{ menu.MenuName }}</span>
        </li>
        }@else {
        <li>
          <span>{{ menu.MenuName }}</span>
          <ul class="ml-2">
            <ng-container
              *ngTemplateOutlet="menuTpl; context: { $implicit: menu.Children }"
            ></ng-container>
          </ul>
        </li>
        } }
      </ng-template>
    </div>
  </section>
  <section class="flex-auto border border-orange-500 p-4">
    <div class="mb-4">
      <p>这是标题栏</p>
    </div>
    <div>
      <router-outlet />
    </div>
  </section>
</main>
