<div class="login size-full flex items-center justify-center bg-cyan-600">
  <form nz-form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input
            nz-input
            formControlName="UserCode"
            placeholder="请输入用户编码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="Password"
            placeholder="请输入密码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button class="w-full" nz-button nzType="primary">登录</button>
  </form>
</div>
